@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Share+Tech&display=swap');
@import "tailwindcss";
body{
    font-family: 'inter', sans-serif;
    
}
@media (prefers-color-scheme: dark) {
    body {
        
        color: white;
        background-color: #000;
    }
}
.font-rubik{
    font-family: 'Rubik', sans-serif;
}
.font-karla{
    font-family: "Karla", sans-serif;
}
.font-st{
    font-family: "Share Tech", sans-serif;
}
.font-nts{
    font-family: "Noto Sans", sans-serif;
}
.icons svg:hover{
    
    transform: scale(1.2);
    transition: all 0.2s ease;
}